<!DOCTYPE html>
<html>
    <head lang="zh">
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" type="text/css" href="../assets/css/vendor.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/icons.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/app.css"/>
    </head>
    <body>

        <header id="header" class="bar bar-nav" data-component="Login"></header>

        <div id="body" class="content" data-component="Login"></div>

        <script type="text/javascript" src="../assets/js/vendor.js"></script>
        <script type="text/javascript" src="../assets/js/app.js"></script>
        <script type="text/javascript">
            // header
            var header = $('#header').data('component');
            React.render(
                React.createElement(window[header + 'Header'], null),
                document.getElementById('header')
            );

            // body
            var body = $('#body').data('component');
            React.render(
                React.createElement(window[body + 'Body'], null),
                document.getElementById('body')
            );
        </script>
    </body>
</html>

